.game {
  background-image: url("../../assets/images/app-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

.game_message {
  max-height: 20px;
  height: 100%;
}

.game_picks {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 150px;
  margin-bottom: 50px;
}

