.game {
  background-image: url("../../assets/images/app-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.game_picks {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 700px;
  margin-bottom: 100px;
}

